.navHeader {
   line-height: 30px;
   width: 100%;
   height: 50px;
   display: flex;
   justify-content: space-between;
   position: fixed;
   background-color: white;
   padding-top: 10px;
   padding-left: 10px;
   border: 1px outset rgb(184, 184, 184);
}

.logged-header { 
   line-height: 30px;
   width: 100%;
   height: 50px;
   display: flex;
   justify-content: space-between;
   position: fixed;
   background-color: white;
   padding-top: 10px;
   padding-left: 10px;
   border: 1px outset rgb(184, 184, 184);
}

.loggedInHeaderRight{
   display: flex;
   justify-content: space-evenly;
}

.loggedInHeaderRight > a {
   padding-right: 20px;
   font-size: 15px;
   font-weight: bold;
}

.loggedInHeaderLeft {
   display: flex;
}

.robinHat{
   text-decoration: none;
   color: black;
   font-size: 25px;
   line-height: 40px;
}

.robinHatLogo {
width: 30px;
height: 20px;
}

.header-button {
   border-radius: 20px;
   text-align: center;
   text-decoration: none;
   margin-right: 50px;
   background-color: rgb(37, 202, 4);
   padding: 5px;
   width: 80px;
   height:30px;
   color: black;
   font-weight: bold;
}

.signup-header{
   border-radius: 20px;
   text-align: center;
   text-decoration: none;
   background-color: rgb(37, 202, 4);
   padding: 5px;
   width: 125px;
   height:30px;
   color: black;
   font-weight: bold;
}

.signup-header:hover {
   text-decoration: none;
   background-color: green;
   color: white
}

.login-header {
   text-decoration: none;
   color: black;
   width: 80px;
   height: 40px;
   padding: 5px;
   font-weight: bold;
}

.login-header:hover {
   color: rgb(37, 202, 4);
}

.login-signup {
   display: flex;
   margin-right: 20px;
}