.newsIndividualRow {
    display: flex;
    padding-top: 30px;
}

.newsImages {
    padding-left: 30px;
    width: 250px;
    height: 200px;
}

.newsTextArea {
    width: 40%;
    font-size: smaller;
    font-weight: lighter;
    padding-left: 50px;
}