.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.stockResults {
    width: 75%;
    overflow-x: auto;
    height: 250px;
    display: flex;
    flex-direction: column;
}

.searchForm {
    display: flex;
    padding-top: 5px;
    padding-left: 100px;
}

