

.first-section {
    border: 1px solid black;
    text-align: center;
    padding: 40px 480px;
}

.second-section {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
}

.second-section-text {
    padding-right: 100px;
}

.second-section-text > h2 {
    font-size: 32px;
    padding-top: 50px;
}

.second-section-text > p {
    font-size: 20px;
}

.second-section-text-one{
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 5px;
}

.second-section-text-two{
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 5px;
}

.second-section-text-three{
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 5px;
}

.sst {
    font-weight: bold;
    word-spacing: 5%;
}

.intro-frac {
    background-color: #F0EBE6;
    border-bottom: 1px solid black;
    display: flex;
}

.intro-frac-left {
    padding-top: 70px;
    padding-left: 200px;
    display:flex;
    flex-direction: column;
}

.intro-frac-left-2 {
    display: flex;
    flex-direction: row;
    padding-top: 75px;
}

.intro-frac-left-2 > section{
    font-weight: bold;
    display: flex;
    width: 280px;
}

.ifl11 {
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 15px;
}

.ifl12 {
    color: gray;
    font-size: 18px;
}

.ifls1{
    display: flex;
    flex-direction: column;
}

.ifls2{
    display: flex;
    flex-direction: column;
}

.ifls3{
    display: flex;
    flex-direction: column;
}

.iflsp1{
    font-weight: normal;
    padding-top: 25px;
}

.iflsp2{
    font-weight: normal;
    padding-top: 25px;
}

.iflsp3{
    padding-top: 25px;
    font-weight: normal;
}