
.first-section {
    border: 1px solid black;
    text-align: center;
    padding: 40px 480px;
}

.second-section {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
}

.second-section-text {
    padding-right: 100px;
}

.second-section-text > h2 {
    font-size: 32px;
    padding-top: 50px;
}

.second-section-text > p {
    font-size: 20px;
}

.second-section-text-one{
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 5px;
}

.second-section-text-two{
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 5px;
}

.second-section-text-three{
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 5px;
}

.sst {
    font-weight: bold;
    word-spacing: 5%;
}

.intro-frac {
    background-color: #F0EBE6;
}