.signup-form > label {
    padding-bottom: 20px;
}

.signup-form-container {
    display: flex;
}

.signup-form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-left: 150px;
    margin-bottom: 200px;
}

.signup-form-box > div > h2 {
    font-size: 23px;
    padding: 10px 0px;
}
.signup-form-box > div > p {
    padding-top: 20px;
    padding-bottom: 20px;
}

.signup-form-box > div > span {
    padding-top: 20px;
    font-weight: bold;
}

.signup-form-right {
    background-color: rgb(245,248,250);
    height: 800px;
    width: 40%;
    padding-top: 150px ;
    padding-left: 5%;
}

.signup-form-right > section > div > h4 {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
}

.signup-form-right > section > div > p {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.signup-input {
  width: 250px;
  padding: 4px;
  border: 1px hidden;
  background: rgb(228, 244, 250);
}

.signup-session-submit {
   color: white;
   background-color: rgb(2,200,7);
   font-size: 14px;
   font-weight: bold;
   padding: 10px 30px;
   border-radius: 5px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
}

.signup-session-submit:hover {
    background-color: rgb(1, 146, 6);
    cursor: pointer;
}

.robinHatPlusLogo{
    width: 140px;
    height: 50px;
}

.signup-errors {
    color: red;
    padding: 10px;
    font-size: small;
}

.signup-already {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
}

.signup-navlink {
    font-size: smaller;
    font-weight: bolder;
}