.stock-show-border-box {
    padding-top: 63px;
    display: flex;
}

.stock-show-trade-box {
    width: 250px;
    box-shadow: 0px 1px 1px #adadad;
}

.sstbm1-1 {
    display: flex;
    justify-content: space-between;
}
.sstbm1-2 {
    display: flex;
    justify-content: space-between;
}
.sstbm1-3 {
    display: flex;
    justify-content: space-between;
}

.review-order-button {
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    margin-left: 40px;
    background-color: #25ca04;
    width: 181px;
    height: 30px;
    color: black;
    font-weight: bold;
}
