.chart-box {
    width: 60%;

}

.stockpage {
    padding-top: 70px;
    display: flex;
}

.watchlist {
    width: 40%;
    display: flex;
    justify-content: center;
}

.watchlist-box {
    padding-left: 20px;
    width: 300px;
    border: 3px outset gray;
}

.watchlist-stocks {
    display: flex;
    flex-direction: column;
}

.stockpage {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
.watchlist-stocks > div {
    padding-top: 20px;
}
.watchlist-stocks > div:hover {
    background-color: rgb(233, 236, 236);
}