/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
 //CSS Reset
 @import "base/reset.scss";
 
 // Core Imports
 @import "base/fonts.scss";
 
 // Components
 @import "components/*";
 // *= require_tree .
 


.firstBody {
   padding-left: 50px;
   height: 650px;
   width: 100%;
   background-color:rgb(194, 246, 61);
   display: flex;
   flex-direction: row;
   justify-content: center;
   
}
   


.firstBodySignUp {
   color: white;
   background-color: black;
   font-size: 20px;
   font-weight: bold;
   width: 100px;
   border-radius: 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
}

.firstBodySignUp:hover {
   background-color: rgb(46, 45, 45);
}

.firstBody-text {
   font-size: 28px;
}

.hatlogo {
   width: 100px;
   height: 100px;
}

.leftFirstBody {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}

.login-form-container {
   display: flex;
   justify-content: space-evenly;
   margin-top: 100px;
}

.navHeader {
   line-height: 0px;
   margin-left: 10px;
   height: 50px;
   display: flex;
   justify-content: space-between;
}

.login-signup {
   display: flex;
   margin-right: 20px;
}

.login-header {
   text-decoration: none;
   color: black;
   line-height: 0px;
   width: 80px;
   height: 40px;
   padding: 5px;
   font-weight: bold;
   font-family: 'Courier New', Courier, monospace;
}

.login-header:hover {
   color: rgb(37, 202, 4);
}

.login-picture{
   width: 50%;
}

.phoneScroll{
   margin-bottom: 5px;
}

.robinHat{
   text-decoration: none;
   color: black;
}

.robinHatLogo {
width: 30px;
height: 20px;
}

.signup-header{
   line-height: 0px;
   border-radius: 20px;
   text-align: center;
   text-decoration: none;
   background-color: rgb(37, 202, 4);
   padding: 5px;
   width: 150px;
   height:30px;
   color: black;
   font-weight: bold;
   font-family: 'Courier New', Courier, monospace;
}

.signup-header:hover {
   text-decoration: none;
   background-color: green;
   color: white
}

.signup-body {
background-color: black;
}